<?xml version="1.0"?>
<!--
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement(EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://cedcommerce.com/license-agreement.txt
 *
 * @category    Ced
 * @package     Ced_Onbuy
 * @author      CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright   Copyright CEDCOMMERCE(http://cedcommerce.com/)
 * @license     http://cedcommerce.com/license-agreement.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
   <event name="cataloginventory_stock_item_save_after">
      <observer name="ced_onbuy_inventory_save" instance="Ced\Onbuy\Observer\InventoryChange"/>
   </event>




   <event name="sales_order_creditmemo_save_after">
      <observer name="onbuy_creditmemo_after" instance="Ced\Onbuy\Observer\CreditMemo"/>
   </event>
   <event name="sales_order_shipment_resource_save_after">
      <observer name="ced_onbuy_shipment_resource" instance="Ced\Onbuy\Observer\Shipment"/>
   </event>
   <event name="sales_order_shipment_save_after">
      <observer name="ced_onbuy_shipment" instance="Ced\Onbuy\Observer\Shipment"/>
   </event>
   <event name="order_cancel_after">
      <observer name="ced_onbuy_ordercancel" instance="Ced\Onbuy\Observer\CancelOrder"/>
   </event>
   <event name="sales_quote_item_qty_set_after">
        <observer name="ced_onbuy_qty_set_after" instance="Ced\Onbuy\Observer\Qty" />
    </event>


</config>
