<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="actuate_product_attribute_manage" showInDefault="1" showInWebsite="0" showInStore="1" sortOrder="10" translate="label">
            <label>Product Attribute Mapping</label>
            <tab>Actuate_FeaturedCategories</tab>
            <resource>Actuate_ProductAttribute::config</resource>
            <group id="general" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <comment>Add product attributes mapping to manage it on product detail page.</comment>
                <field id="attribute_mapping" translate="label" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Map Product Attributes</label>
                    <frontend_model>Actuate\ProductAttribute\Block\Adminhtml\Form\Field\ProductAttribute</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
