<?xml version="1.0" ?>
<!--
  ~ This program is the CONFIDENTIAL and PROPRIETARY property of Autify digital Ltd.
  ~ Any unauthorized use, reproduction or transfer of this computer program is strictly prohibited.
  ~ Copyright (c) 2020-2022 Autify digital Ltd.
  ~ This is an unpublished work, and is subject to limited distribution and restricted disclosure only.
  ~ ALL RIGHTS RESERVED.
  ~
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="standard">
		<route frontName="v12finance" id="v12finance">
			<module name="AutifyDigital_V12Finance"/>
		</route>
	</router>
</config>
