<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mirasvit\Search\Index\Magento\Catalog\Product\InstantProvider"
                type="Actuate\ReliantDirectTheme\Index\Magento\Catalog\Product\InstantProvider"/>
    <type name="Magento\Paypal\Model\PayLaterConfig">
        <plugin name="pay-later-config-plugin" type="Actuate\ReliantDirectTheme\Plugin\PayLaterConfigPlugin" disabled="false"/>
    </type>
    <type name="Magento\Framework\View\Page\Config">
        <plugin name="script-csp"
                type="Actuate\ReliantDirectTheme\Plugin\ConfigPlugin" sortOrder="10"/>
    </type>
</config>
